.recent-expenses {
  background-color: var(--color-celadon-mint);
  border: 2px solid var(--color-frozen-water);
  border-radius: 12px;
  padding: 24px;
}

.expense-item {
  padding: 12px 0;
  border-bottom: 1px solid var(--color-frozen-water);
}

.expense-item:last-child {
  border-bottom: none;
}

.expense-item h3 {
  font-size: 18px;
  color: var(--color-granite);
  margin-bottom: 5px;
}

.expense-item p {
  font-size: var(--font-size-small);
  margin: 2px 0;
}
