
.expense-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.expense-item {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 12px;
  border-radius: var(--radius-sm);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expense-info h3 {
  font-size: 1rem;
  margin: 0;
  color: var(--color-granite);
}

.expense-actions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.price {
  font-weight: bold;
  color: var(--color-granite);
}

