:root {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #2d3e2f; /* Dark green-gray - Primary text */
  background-color: #A1CDA8; /* Celadon Light - Main background */
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1, h2 {
  color: #2d3e2f; /* Dark green-gray */
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

/* Base text styles */
p, span, div {
  font-size: 16px; /* Body Text */
  color: #2d3e2f; /*Dark green-gray */
}

small {
  font-size: 14px; /* Small Text */
}

